<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JSON Test</title>
</head>
<body>
    <div id="myData"></div>
    <script>
        fetch('data.json')
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                appendData(data);
            })
            .catch(function (err) {
                console.log('error: ' + err);
            });
        function appendData(data) {
            var mainContainer = document.getElementById("myData");
            for (var i = 0; i < data.length; i++) {
                var div = document.createElement("div");
                div.innerHTML = 'Name: ' + data[i].firstName + ' ' + data[i].lastName;
                mainContainer.appendChild(div);
            }
        }
    </script>
</body>
</html>

<h1>{{ .Caption}} {{ .Line}}</h1>
<hr>
<h2>SessionKey holen</h2>
<li> http://localhost:4488/api/getkey?h=Database:D:/Data/DokuMents/DOKUMENTS30.FDB</li>
<li> http://localhost:4488/api/getkey?h=Database:D:/Data/DokuMents/DOKUMENTS30.FDB,Location:192.168.11.98,Port:3050,Password:masterkey,User:SYSDBA</li>


<h3>Returnvalue</h3>
<li>{"Status":200,"Message":"Created UUID, duration 30m0s","Data":"-MNV7IIoFvuwd1J9Qr8i"}</li>
<hr>